@keyframes scroll-right {
    from {
      transform: translateX(0%);
    }
    to {
      transform: translateX(-50%);
    }
  }
  
  .animate-scroll-right {
    animation: scroll-right 30s linear infinite;
  }
  
  .scroller:hover .animate-scroll-right {
    animation-play-state: paused;
  }
  